<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/SchoolStyle.css">
    <title>After School</title>
</head>
<body>
<header>

    <h1>Welcome to After School Program</h1>
    <nav>
        <ul>
            <li><a th:href="@{home}">Home</a></li>
            <li><a th:href="@{login}">Admin</a></li>
            <li><a th:href="@{parentsignup}">Parent</a></li>
        </ul>
    </nav>
</header>
<section id="about">
    <img class="img_banner" th:src="@{/img/AfterSchoolImage.png}">

    <h2>About Us</h2>


    <p> Our mission is to provide a safe, nurturing environment where children can learn, grow, and thrive.Our program offers a wide range of activities to support this mission, including academic support, enrichment activities, and sports programs. Whether your child needs help with homework, wants to explore new interests, or just wants to have fun and stay active, we have something for everyone.


    </p>

    <p> We invite you to learn more about our program and how we can help your child thrive. Contact us today to schedule a visit or learn more about our offerings. We look forward to welcoming you to the Ram After School family!"</p>
</section>
<section id="activities">
    <h2>Activities</h2>
    <div>
        <p>
            Art & Crafts<br>
            Sports & Games<br>
            Math<br>
            Reading<br>
        </p>
    </div>
</section>
<section id="contact">
    <h2>Contact</h2>
    <p>Email: srimathi.rp1@gmail.com</p>
    <p>Phone: 650-471-4865</p>
</section>
<footer>
    <p>After School</p>
</footer>
</body>
</html>